---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ metadata.siteUrl | stripTrailingSlash }}/</loc>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ metadata.siteUrl | stripTrailingSlash }}/feed.xml</loc>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>{{ metadata.siteUrl | stripTrailingSlash }}/llms.txt</loc>
    <changefreq>monthly</changefreq>
  </url>
  {% for post in collections.postsSorted %}
  <url>
    <loc>{{ metadata.siteUrl | stripTrailingSlash }}{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}
</urlset>
